.brand img { width: 200px; }

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #f2f2f2;
}

.section { 
  background-color:#fff; 
  padding:10px; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);  
}

#container { padding-top:70px; min-height:500px; }

.collection:hover {
  cursor: pointer;
}
.collection.last { margin-right:0px; }

.collection {
  width:200px;
  margin-right:10px;
  border:1px solid #ccc;
  margin-bottom:10px;
  float:left;
  padding:5px;
  height:150px;
}

.samples-list{}
.sample{
  width:200px;
  margin-right:10px;
  border:1px solid #ccc;
  margin-bottom:10px;
  float:left;
  height:190px;
  margin-left: 0px !important;  
}

.sample .title {
  background-color: #F0F8FF;
  font-weight:bold;
  padding:3px;
  padding-left:10px;
  padding-bottom:5px;
}

#comments {}
.comments {}
#comments .btn-group { margin-bottom:10px;}
.comment { 
  padding:10px; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);  
  
  margin-bottom: 20px;
  width:90%;
}
.comment.designer { background-color: #F0F8FF; margin-left:50px; }
.comment.vendor { background-color: #FFA07A; margin-right:50px }
.comment .body {}
.comment .image {}
.comment .created_at {}

.sample .bd {
  padding:5px;
}

.sample .title .add-to-shipment-checkbox { float:right; position:relative; top:-2px; }

.sample:hover {
  cursor: pointer;
}

.shipments { width:50%; }
.shipments th { background-color:#f2f2f2; border:1px solid #ccc; }
.shipment td {padding:4px; white-space: nowrap; border:1px solid #ccc; }

#container .section { margin-bottom:30px; }

.uploaded-documents { height:150px;}
.uploaded-document { width:120px; float:left; border:1px solid #f2f2f2; margin-right:10px; }
.uploaded-document .document-name { padding:3px; overflow:hidden; white-space: nowrap;}
.uploaded-trigger { width:120px; float:left; border:1px solid #f2f2f2; margin-right:10px; }



