body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.products-list {}
.product {
  width:200px;
  margin-right:10px;
  border:1px solid #ccc;
  margin-bottom:10px;
  float:left;
  padding:5px;
}
.product:hover {
  cursor: pointer;
}
.product.last { margin-right:0px; }

